/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
==================================
GRID
==================================
*/

/* ??? - Cambiant propietat de box-sizing a borde-box per a tots els navegadors - selector universal */

*,
*: before,
*: after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}

/* Classe contidor general, centra el nostre contingut en una pag de 960px - reutilitzable
.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
} */

/* Classe contidor general, centra el nostre contingut en una pag de 960px - reutilitzable */
.container {
  padding-left: 30px;
  padding-right: 30px;
}

/* Poner espacio entre columnas con una grid y agregaremos el mismo relleno de nuestras col. a esa grid */
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/* Columnas reutilizables */

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

/* Se muestren como inline-block --> alineación vertical esté config en top */

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

/*
==================================
CLEAFIX
==================================
*/

/* -----> ??? no entenc que fa... flota la capçalera??? */

.group: before,
.group: after {
  content: "";
  display: table;
}

.group: after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/*
==================================
TYPOGRAPHY
==================================
*/

h1,
h3,
h4,
h5,
p {
  /* afegim espai vertical entre elements - 22px */
  margin-bottom: 22px;
}

/*
==================================
BUTTONS
==================================
*/

/* Clase botó general */
.btn {
  border-radius: 5px;
  display: inline-block; /* inline-block per a que podem afegir padding */
  margin: 0; /* Eliminem marges */
}

/* Clase botó especifica */
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px; /* top bottom px left right px */
}

/*
==================================
PRIMARY HEADER
==================================
*/

.logo {
  border-top: 4px solid #648880;
  float: left;
  padding: 40px 0 22px 0;
}

/*
==================================
PRIMARY FOOTER
==================================
*/

/* Posem paddin a la part sup i inf per separar-lo del reste de la pag */
.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}

.primary-footer small {
  float: left;
}

/*
==================================
HOME
==================================
*/

/* Aplica padding en los cuatro lados del HOME section */
.hero {
  padding: 22px 80px 66px 80px;
}
