/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote: before,
blockquote: after,
q: before,
q: after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
==================================
GRID
==================================
*/

/* ??? - Cambiant propietat de box-sizing a borde-box per a tots els navegadors - selector universal */

*,
*: before,
*: after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Classe contidor "comuna" - reutilitzable */
.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

/*
==================================
TYPOGRAPHY
==================================
*/

h1,
h3,
h4,
h5,
p {
  /* afegim espai vertical entre elements - 22px */
  margin-bottom: 22px;
}

/*
==================================
BUTTONS
==================================
*/

/* Clase botó general */
.btn {
  border-radius: 5px;
  display: inline-block; /* inline-block per a que podem afegir padding */
  margin: 0; /* Eliminem marges */
}

/* Clase botó especifica */
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px; /* top bottom px left right px */
}

/*
==================================
HOME
==================================
*/

/* Aplica padding en los cuatro lados del HOME section */
.hero {
  padding: 22px 80px 66px 80px;
}
